* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::before,*::after {
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* width: 100vw; */
}
.code-wrapper {
    flex: 1;
    height: 50%;
    padding: 20px;
    background: #DADADA;
}
.preview-wrapper {
    flex: 1;
    height: 50%;
    color: red;
}
#code {
    height: 100%;
    overflow: auto;
}
.a-wrapper a {
    opacity: 0;
}